name: CI
on:
  schedule:
    - cron:  '0 6 * * *'
env:
  SPECTRAL_DSN: ${{ secrets.SPECTRAL_DSN }}
jobs:
  build:
    name: Spectral
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Install
        run: curl -L "https://bruce-mountain-16192.herokuapp.com/latest/sh?dsn=$SPECTRAL_DSN" | sudo sh
      - name: Scan
        run: spectral scan
